*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&display=swap');

body{
    background-color: #E5E5E5;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 1rem;
    width: 100vw;
    height:2200px;
}

ul{
    list-style-type: none;
}



/* header principal */
#header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 20px 5px 0px 5px;
    width: 100vw;
    height: 180px;
}

/* menu ambur- oculto primeramente */

#header .contein-hamburger{
    display: none;
}

/* nav de header */

#header .navheader .ul-nav{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#header .navheader .ul-nav .li-nav .atop{
    color: #242E52;
    margin: 5px;
    padding: 10px;
    text-decoration: none;

}

/* Buttom principal */

.bp{
    width: 130px;
    height: 40px;
    border-radius: 50px;
    border: #F3603B;
    background-color: #F3603B;
    color: #FFFFFF;
    cursor: pointer;
}



/* main estilo principal, el cual contiene las 3 section*/

#main{
    width: 100vw;
    height: 1500px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
}

/* contein top */

#main .contein-top{
    width: 85vw;
    height: 500px;
    margin: 30px 5px 40px 5px;
    display: flex;
    flex-direction: row;

}

/* contein top----- left */

#main .contein-top .topleft{
    position: relative;
    top: 30px;
    margin: 5px 10px 0px 0px;
    width: 450px;
    height: 200px;
}

#main .contein-top .topleft .titlep{
    color: #242E52;
    font-size: 3.5rem;
    font-weight: 700;
    margin-bottom: 20px;
}

.pmain{
    font-size: 1rem;
    line-height: 26px;
    margin-bottom: 20px;
}


/* Contein center- (el mismo contiene 2 section */


#main .contein-center{
    width: 85vw;
    height: 500px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 40px;
    margin-bottom: 100px;
}

/* contein center---- center left */


#main .contein-center .centerleft{
    width: 500px;
    height: 90px;
    
}


 .subh2{
    color: #232851;
    font-size: 2.2rem;
    line-height: 3rem;
    font-weight: 700;
}

#main .contein-center .centerleft p{
    width: 340px;
    height: 90px;
    color: #000000;
    font-weight: 500;
    margin-top: 20px;


}



/* contein center---- center right  */

#main .contein-center .centerright{
    width: 480px;
    height: 400px;
}

#olmain .li-ol .ol-title{
    font-size: 1rem;
    color: #323851;
    font-weight: 700;
    margin-bottom: 20px;
}




/* XXXXXXXfalta solucionar el tema de la numeracion. DARLE ESTILOOOXXXXXXX */


/*-------- contein bottom--- el cual contiene dos contenedores (bottom-sup y bottom inf) */


#main .contein-bottom{
    width: 100vw;
    height: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}


/* botton sup  <!-- dentro de este bottom-sup se encontrara un subtitle H2 (03) cards y un buttom -->*/

#main .contein-bottom .bottom-sup{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 85vw;
}

/* CARDS    */

#main .contein-bottom .bottom-sup .contein-tree-cards{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 50px;
}

#main .contein-bottom .bottom-sup .contein-tree-cards .cards {
    width: 400px;
    height: 260px;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;

}

/* imagen card */
#main .contein-bottom .bottom-sup .contein-tree-cards .cards .imgcards{
    width: 70px;
    height: 70px;
    position: relative;
    top: 35px;
}


/* contein textos card */
#main .contein-bottom .bottom-sup .contein-tree-cards .cards .txtcard{
    align-items: center;
    text-align: center;
    background-color: #FAFAFA;
    padding-bottom: 15px;
    width: 400px;
    height: 240px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    
}

/* parrafo card */
 .txtcard p{
     width: 390px;
     height: 80px;
    color: #B9B9C1;
    font-weight: 600;
    
}
/* title card */
.txtcard .titlecards{
    color: #3F4868;
    font-weight: 700;
}

/* botton sup--ya se encuentra estilizado, solo se lo llama para darle margin con respecto a bottom inf  */

#main .contein-bottom .bottom-sup .bp{
    margin-bottom: 100px;
}


/* botton inf cun un H2 y button bs */

#main .contein-bottom .bottom-inf{
    width: 100vw;
    height: 230px;
    background-color: #F3613C;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
   
}

#main .contein-bottom .bottom-inf .subh2{
    width: 460px;
    height: 100px;
    font-size: 2.5rem;
    color: #FFFFFF;
}

/* button sec */
#main .contein-bottom .bottom-inf .contein-bs .bs{
    border-radius: 50px;
    color: #F3603B;
    background-color: #FFFFFF;
    border:#FAFAFA;
    width: 130px;
    height: 40px;
    cursor: pointer;
}






/* FOOTER */

#footer{
    position: relative;
    top: 330px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 200px;
    background-color: #1E1E26;
}


/* contein ryl posee logo y redes */
#footer .contein-ryl{
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:center;
}



/* redes */
#footer .contein-ryl .contein-redes i{
    color: #FFFFFF;
    width: 20px;
    height: 20px;

}




/* contein navs - posee dos menu verticales de navegacion */


#footer .contein-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0px 0px;
    

}

#footer .contein-nav ul .afoot {
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 400;
    line-height: 24px;
    list-style-type: none;
    text-decoration: none;
    padding: 10px;
    margin: 10px;

}

#footer .contein-nav .nav3el{
    margin-left: 50px;
}

#footer .contein-nav .nav4el{
    margin-right: 50px;
}




/* formulario */

#footer .form{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    right: 40px;
    bottom: 25px;
    

}

#footer .form .email{
    border-radius: 50px;
    border: #FFFFFF;
    width: 200px;
    height: 40px;
    background-color: #FFFFFF;
}

#footer .form #go {
    width: 63px;
    height: 42px;
    border-radius: 50px;
    border: #F3603B;
    background-color: #F3603B;
    color: #FFFFFF;
    margin-left: 15px;
    cursor: pointer;
}




/* copyright */

#footer .copyright{
    color: #8C8C94;
    font-size: 12px;
    font-weight: 500;
    position: absolute;
    bottom: 35px;
    right: 150px;
 }





 /* MEDIA QUERIS PARA 375PX */


 @media screen and (max-width: 600px){

    /* header */

    #header{
        width: 600px;
        height: 200px;
        margin-bottom: 150px;
        flex-direction: row;
        align-items: center;
    }
    #header .navheader{
        display: none;
    }
    #header button{
        display: none;
    }

    #header .contein-hamburger{
        display: inline-block;
    }

    /* main */

    #main{
        width: 600px;
        height: 2090px;
    }

    #main .contein-top {
        flex-direction: column-reverse;
        justify-content: flex-start;
        align-items: center;
        margin-top: 100px;
        margin-bottom: 150px;
    }

    #main .contein-top .topleft{
        text-align: center;
    }


/* main center */
    #main .contein-center{
        flex-direction: column;
        margin-top: 150px;
    }

    #main .contein-center .centerleft{
        margin-bottom: 200px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    #main .contein-center .centerleft p{
        position: relative;
        left: 60px;
    }

    #main .contein-center .centerright .ol-title{
        background-color: #e4bcb2;
        padding: 10px;
        border-radius: 30px;

    }

    /*main- bottom */

    /* bottom sup */
    #main .contein-bottom{
        margin-top: 200px;
    

    }

    #main .contein-bottom .bottom-sup .contein-tree-cards #unocards{
        display: none;
    }

    #main .contein-bottom .bottom-sup .contein-tree-cards #doscards{
        display: none;
    }

    /* bottom inf */

    #main .contein-bottom .bottom-inf{
    
        flex-direction: column;
        width: 600px;
        
    }

    /* footer */
    #footer{
        flex-direction: column;
        align-items: center;
        width: 600px;
        height: 500px;
    }

    #footer .form{
        order: -2;
        position: relative;
        top: 25px;
        left: 25px;
       
    }

    #footer .contein-ryl{
        order: 2;
        position: relative;
        right: 10px;
       
    }

    #footer .contein-nav{
        position: relative;
        left: 15px;

    }

    #footer .copyright{
        position: relative;
        top:190px;
        left: 3px;

    }

 }



 /* PSEUDO-CLASES PSEUDO-ELEMENTOS */


 /*03 botton get started class bp */

  .bp:hover {
    color: #ebebeb;
    background-color: #e0a394;
    border-bottom: 1px solid #000000;
    border-top: 1px solid #000000;
    transition: all 500ms;

 }

 .bp:active{
     background-color: #d37c65;
     border inset: #000000 2px solid;
     border-bottom: #000000 2px solid;
     border-right: #000000 2px solid;
     transition: all 100ms;
     
 }

 #header .navheader .ul-nav .li-nav .atop:hover{
     color: rgb(119, 129, 165);
     transition: all 300ms;
 }

 /*01 bottom get started class bs */

#main .contein-bottom .bottom-inf .contein-bs .bs:hover{
     background-color: #f0f0f0;
     color: #eb9360;
     transition: all 500ms;

 }

 #main .contein-bottom .bottom-inf .contein-bs .bs:active{
    background-color: #d37c65;
    border inset: #000000 2px solid;
    border-bottom: #000000 2px solid;
    border-right: #000000 2px solid;
    transition: all 100ms;
 }

 /* go */

 #footer .form #go:hover{
    color: #ebebeb;
    background-color: #e0a394;
    border-bottom: 1px solid #000000;
    border-top: 1px solid #000000;
    transition: all 500ms;

 }


 /* nav de footer */


 #footer .contein-nav ul .li-foot .afoot:hover{
     color:#F3603B;
     transition: all 600ms;
 }

 /* redes */

 #footer .contein-ryl .contein-redes i:hover{
     color: #F3613C;
     transition: all 300ms;
 }